#cloud-config-archive

- type: text/cloud-config
  content: |
    output:
      all: '| tee -a /var/log/cloud-init-output.log'

# allow passwordless access for debugging
- |
  #!/usr/bin/env bash
  exec passwd -d ubuntu

- |
  #!/usr/bin/env bash
  dhclient
  echo "Acquire::http::proxy \"http://child-prc.intel.com:913\";">>/etc/apt/apt.conf.d/proxy.conf
  echo "Acquire::https::proxy \"http://child-prc.intel.com:913\";">>/etc/apt/apt.conf.d/proxy.conf
  echo "nameserver 10.248.2.1" >> /etc/resolv.conf
  apt-get update
  export http_proxy=http://child-prc.intel.com:913
  export HTTP_PROXY=http://child-prc.intel.com:913
  export https_proxy=http://child-prc.intel.com:913
  export HTTPS_PROXY=http://child-prc.intel.com:913
  git config  --system  http.proxy http://child-prc.intel.com:913
  git config  --system  https.proxy http://child-prc.intel.com:913


  # mount a NFS share for storing logs
  sed -i 's/archive.ubuntu.com/old-releases.ubuntu.com/' /etc/apt/sources.list
  sed -i 's/security.ubuntu.com/old-releases.ubuntu.com/' /etc/apt/sources.list
  apt-get update
  apt-get -y install nfs-common
  mkdir /mnt/log
  # 10.0.2.2 is the host
  mount -v -t nfs -o proto=tcp 10.0.2.2:{mnt_dir} /mnt/log

  # mount the iso image that has the test script
  mkdir /mnt/cdrom
  mount -t auto /dev/cdrom /mnt/cdrom

  sleep $[ 3600 * 24 * 7 ]
